#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
CROSS= --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
else
CROSS= --build $(DEB_BUILD_GNU_TYPE)
endif

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --parallel

override_dh_auto_configure:
ifneq ($(DEB_HOST_ARCH_OS),linux)
	./configure --prefix /usr --enable-oss --enable-jack
else
	./configure --prefix /usr --enable-alsa --enable-jack
endif

override_dh_auto_build:
	$(MAKE) PREFIX=/usr EXECDIR=/usr/share/xwax

override_dh_auto_install:
	$(MAKE) PREFIX=$(CURDIR)/debian/xwax/usr EXECDIR=$(CURDIR)/debian/xwax/usr/share/xwax install

override_dh_install:
	dh_install
	rm -f $(CURDIR)/debian/xwax/usr/share/doc/xwax/COPYING

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGES
